.cardWrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.cardComponent {
	flex: 1 1 30%;
}

.buttonWrapper {
	display: flex;
	justify-content: flex-start;
}
.formWrapper {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 3rem;
}
.formWrapper div {
	margin-right: 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.chatRoomWrapper {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat-area {
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	height: 35rem;
	overflow: auto;
}

.inputMessage {
	width: 94%;
	height: 3rem;
	padding: 0 1rem;
}

.sendMessageWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sendBtn {
	width: 5%;
}

.chatBox {
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 15px;
	height: 5rem;
	display: flex;
	align-items: center;
}
.myChat {
	justify-content: flex-end;
}
.otherChat {
	justify-content: flex-start;
}
