:root {
	--main-color: #83c9e7;
	--main2-color: #4a88da;
	--main3-color: #82c8e6;
	--background-color: #e4f3fa;
	--red-color: #ff4040;
}

.Wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
}
.loginWrapper,
.signUpWrapper {
	width: 30rem;
	height: 20rem;
	border: 1px solid #dddbdb;
	padding: 2rem 3rem;
	border-radius: 10px;
	background-color: white;
}

.loginInput {
	border-style: none;
	border-bottom: 1px solid #e3e3e3;
	width: 100%;
	padding: 0.75rem 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}
.loginBtn {
	width: 100%;
	padding: 0.75rem 0;
	background-color: var(--main-color);
	border-color: var(--main-color);
	font-size: 0.75rem;
	font-weight: bold;
	margin-top: 1rem;
}
.inputBox {
	padding: 0 0.5rem;
}
.backBtn {
	width: 100%;
	padding: 0.75rem 0;
	font-size: 0.75rem;
	font-weight: bold;
	margin-top: 1rem;
}
.loginBtn:hover {
	background-color: var(--main2-color);
	border: 1px solid var(--main2-color);
	color: white;
}
.loginInput:active {
	border-style: none !important;
	border-bottom: 1px solid black;
}
.signupLinkWrapper {
	width: 100%;
	text-align: left;
	padding: 1rem 0.5rem;
}
.signupLink {
	width: 100% !important;
	color: black;
	font-size: 0.75rem;
	font-weight: bold;
	float: right;
}
.signupLink:hover {
	text-decoration: none !important;
	color: var(--main2-color);
}

.buttonWrapper {
	display: flex;
	justify-content: flex-start;
}
.formWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	align-items: center;
	width: auto;
	padding: 0;
}
.formWrapper div {
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	/* align-items: center; */
}
.formWrapper div div {
	margin-right: 1rem;
}

.chatRoomMainWrapper {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-color);
	overflow: hidden;
}
.chatRoomTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.chat-area {
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 20px;
	height: 37rem;
	overflow: auto;
}

.inputMessage {
	width: 94%;
	height: 3rem;
	padding: 0 1rem;
	margin-right: 1rem;
}

.inputMessage:focus {
	border-style: none !important;
	border-radius: 15px;
}
.sendMessageWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sendBtn {
	width: 7rem;
	height: 3rem;
}

.chatBox {
	width: 100%;
	border-radius: 15px;
	height: 7rem;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.chatBox:hover {
	background-color: var(--main2-color);
}
.chatMessage {
	background-color: white;
	max-width: 100%;
	padding: 0.75rem 1rem;
	border-radius: 20px;
}
.messageWrapper {
	max-width: 70%;
	text-align: left;
}

.chatSender {
	padding: 0.5rem;
}
.myChat {
	justify-content: flex-end;
	text-align: right;
}
.otherChat {
	justify-content: flex-start;
	text-align: left;
}

.chatListWrapper {
	background-color: var(--background-color);
}

.chatroomWrapper {
	width: 100%;
	max-height: 35rem;
	overflow: auto;
	display: flex;

	justify-content: flex-start !important;
	/* flex-wrap: wrap; */
	flex-direction: column;
}
.idBadge {
	padding: 1.25rem 1.5rem;
	font-size: 1.5rem;
	border-radius: 20px;
	background-color: var(--main3-color);
}
.lockBadge {
	padding: 0.5rem 1.5rem;
	font-size: 1.5rem;
	border-radius: 5px;
	width: 10rem;
}
.cardComponent {
	flex: 1 1 30%;
}

.chatroom {
	width: 100%;
	min-height: 6rem;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	margin-bottom: 0.25rem;
	font-weight: bold;
}

.chatroom div:not(.btnWrapper) {
	width: 30%;
}

.btnWrapper {
}

.chatListHeader {
	text-align: center;
	margin-bottom: 1rem;
}

.logoutWrapper {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1rem;
	margin-right: 1rem;
	width: 12rem;
	display: flex;
	justify-content: space-between;
}

.backWrapper {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 1rem;
	margin-left: 1rem;
}
.inviteWrapper {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1rem;
	margin-right: 1rem;
}
.inviteBtn {
}

.enterBtn {
	background-color: var(--main2-color);
	border-color: var(--main2-color);
	margin-right: 1rem;
}
.editBtn {
	margin-right: 1rem;
}

.deleteBtn {
	background-color: var(--red-color);
	border-color: var(--red-color);
}

.additionBox {
	display: flex;
	flex-direction: row;
	border: 1px solid #e3e3e3;
	/* background-color: var(--main3-color); */
	background-color: white;
	width: auto;
	height: 3rem;
	margin-top: -7rem;
	/* right: 1rem; */
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #e3e3e3;
	border: 1px solid red;
}
.additionBox div {
	width: 4rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.addImg {
	width: 2rem;
}

.userListWrapper,
.myDivWrapper {
	padding: 0.25rem 1rem;
	height: 25rem;
	overflow-y: auto;
}
.editRoomWrapper {
	padding: 0.25rem 1rem;
	height: 13rem;
	overflow-y: auto;
}
.userBox,
.divBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e3e3e3;
	padding: 0.5rem 1rem;
	height: 4rem;
}
.editRoomBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e3e3e3;
	padding: 0.5rem 1rem;
	height: 9rem;
}

.invite_userProfile {
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	line-height: 2rem;
	padding: 0;
}
.invite_userName {
	width: 70%;
	margin: 0 1rem;
}
.senderNameWrapper {
	min-width: 70%;
	margin: 0 1rem;
}
.editInfoWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.editInfoText {
	width: 10rem;
	display: inline-block;
	margin-right: 1rem;
	font-weight: bold;
}
.editInfoInput {
	width: 50%;
	border-style: none;
	border-bottom: 1px solid #e3e3e3;
	padding: 0.5rem 0.5rem;
	cursor: pointer;
}
.editInfoWrapper div {
	width: 100%;
}
.senderNameWrapper h5 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.invite_userimg {
	width: 100%;
}
.myDivBtnWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 10rem;
}
.editRoomBtnWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin-top: 1rem;
}
.acceptEditRoom {
	margin-right: 1rem;
}
.notUseBtn {
	cursor: none;
}
